<div id="privacy-policy-wrapper" class="section-wrapper">
    <div>
        <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                class="fas fa-long-arrow-alt-left"></i></a>
    </div>
    <div id="privacy-policy-content">
        <h2>About this website.</h2>
        <h3>Privacy policy</h3>
        <p lang="en">
            This website uses Google Analytics, a service which transmits website
            traffic data to Google servers. This instance of Google Analytics does not
            identify individual users or associate your IP address with any other data
            held by Google. Reports provided by Google Analytics are used to help
            understand website traffic and webpage usage. You may opt out of this
            tracking at any time by activating the “Do Not Track” setting in your
            browser.
        </p>
        <h3>Legal information</h3>
        <p lang="en">
            Tim Konieczny<br />
            <span class="reverse"><%= htmlWebpackPlugin.options.street %></span><br />
            <span class="reverse"><%= htmlWebpackPlugin.options.city %></span><br />
            <span class="reverse"><%= htmlWebpackPlugin.options.country %></span><br />
            Phone: <span class="reverse"><%= htmlWebpackPlugin.options.phone %></span><br />
            Email: <span class="reverse"><%= htmlWebpackPlugin.options.email %></span>
        </p>
    </div>
</div>