<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <canvas id="canvas"></canvas>
    <div id="preloader">
        <div class="half-placeholder"></div>
        <div id="upper-half"></div>
        <div id="progress-bar-wrapper">
            <div class="progress-bar-placeholder"></div>
            <div id="progress-bar"></div>
            <div class="progress-bar-placeholder"></div>
        </div>
        <div id="lower-half"></div>
        <div class="half-placeholder"></div>
    </div>
    <div id="wrapper">

        <div id="headline-wrapper" class="section-wrapper">
            <h1>Hello,<br />
                I'm Tim,<br />
                <span>Freelance Developer.</span><br />
            </h1>
            <p id="subtitle"><span>web frontend</span><span>3D</span><span>android</span></p>
            <div class="message-buttons">
                <button class="message-button animated" data-animation="message" tabindex="1">get in touch</button>
                <button class="linkedin-button animated" data-animation="linkedin" tabindex="2"><i
                        class="fab fa-linkedin-in"></i>connect on
                    LinkedIn</button>
            </div>
            <a class="animated link-with-icon" id="about-button" data-animation="about" tabindex="3" href="#"><i
                    class="fas fa-long-arrow-alt-right"></i><span>learn
                    more</span></a>
        </div>
        <div id="message-wrapper" class="section-wrapper">
            <div>
                <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                        class="fas fa-long-arrow-alt-left"></i></a>
            </div>
            <div id="message-form-wrapper">
                <h2>Let's have a chat.</h2>
                <form novalidate>
                    <div class="field-wrapper">
                        <span>
                            <input placeholder="Name" name="name" tabindex="2" autocomplete="on" id="name-input" />
                            <span></span>
                            <input placeholder="Email" name="emailaddress" type="email" tabindex="3" autocomplete="on"
                                id="emailaddress-input" />
                        </span>
                    </div>
                    <div class="field-wrapper">
                        <input placeholder="Subject" name="subject" autocomplete="off" tabindex="4"
                            id="subject-input" />
                    </div>
                    <div class="field-wrapper" id="textarea-wrapper">
                        <textarea placeholder="Message" name="message" autocomplete="off" tabindex="5"
                            id="message-input"></textarea>

                    </div>
                    <div class="field-wrapper" id="submit-button-wrapper">
                        <button id="send-button" type="submit" tabindex="6"><i class="fas fa-paper-plane"></i></button>
                    </div>
                    <div class="field-wrapper hide" id="invalid-input-wrapper">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p>Please fill out all the fields.</p>
                    </div>
                    <input class="honey" placeholder="Phone" name="phone" tabindex="-1" autocomplete="no" type="tel" />
                    <input class="honey" placeholder="Website" name="website" tabindex="-1" autocomplete="no"
                        type="url" />
                    <input class="honey" placeholder="Email" name="email" tabindex="-1" autocomplete="no"
                        type="email" />
                </form>
                <div id="message-confirmation">
                    <div id="message-success">
                        <i class="fas fa-paper-plane"></i>
                        <h3>Thank you for your message.</h3>
                        <p>I'll get back to you as soon as possible!</p>
                    </div>
                    <div id="message-client-error">
                        <i class="fas fa-robot"></i>
                        <h3>400 (Bad Request)</h3>
                        <p>The server has rejected the data you entered.<br />Please try again later.<br />Sorry for the
                            inconvenience.</p>
                    </div>
                    <div id="message-server-error">
                        <i class="fas fa-redo-alt"></i>
                        <h3>400 (Internal Server Error)</h3>
                        <p>Uh. Oh. Something went wrong.<br />Please try again later.<br />Sorry for the inconvenience.
                        </p>
                    </div>
                    <div id="message-unknown-error">
                        <i class="fas fa-redo-alt"></i>
                        <h3>Uh. Oh. Something went wrong.</h3>
                        <p>Please try again later.<br />Sorry for the inconvenience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="about-wrapper" class="section-wrapper">
            <div>
                <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                        class="fas fa-long-arrow-alt-left"></i></a>
            </div>
            <div id="about-content">
                <h2>Tim Konieczny.</h2>
                <p lang="en">
                    My main areas of expertise are <b>font end development</b>, <b>computer graphics</b> and
                    <b>digital
                        experiences</b>.
                </p>
                <p lang="en">
                    I specialize in small and medium web applications in <b>React / Redux</b> and <b>HTML / CSS</b>,
                    and
                    in
                    creating <b>compelling user experiences</b> through <b>animations</b> and <b>transitions</b>.
                </p>
                <p lang="en">
                    Also, I’m passionate about <b>all things 3D</b>, and love working with <b>WebGL / three.js</b>,
                    toy
                    around
                    with <b>shaders</b> and <b>Virtual Reality</b> tech like <b>WebXR</b>.
                </p>
                <p lang="en">
                    I also have experience building <b>native Android apps</b>, including <b>UI-driven-</b> and
                    <b>computer
                        graphics applications</b> (OpenGL ES).
                </p>
                <p lang="en">
                    <b>I’m always excited to tackle interesting projects and collaborate with great people. Sounds
                        good?
                        Let’s
                        have a chat!</b>
                </p>
                <div class="message-buttons">
                    <button class="message-button" data-animation="message" tabindex="2">
                        get in touch
                    </button>
                    <button class="linkedin-button" data-animation="linkedin" tabindex="3">
                        <i class="fab fa-linkedin-in"></i>connect on LinkedIn
                    </button>
                </div>
                <a id="privacy-policy-button" class="animated link-with-icon" data-animation="privacyPolicy"
                    tabindex="4" href="#"><i class="fas fa-long-arrow-alt-right"></i><span>privacy policy and legal
                        information</span></a>
            </div>
        </div>
        <div id="privacy-policy-wrapper" class="section-wrapper">
            <div>
                <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                        class="fas fa-long-arrow-alt-left"></i></a>
            </div>
            <div id="privacy-policy-content">
                <h2>About this website.</h2>
                <h3>Privacy policy</h3>
                <p lang="en">
                    This website transmits website traffic to external servers via the following services: Google
                    Analytics, Facebook Pixel and Twitter Pixel. The respective instances on this website do not
                    identify individual users or associate your IP address with any other data held by Google, Facebook
                    or Twitter. The reports provided by these services are used to help understand website traffic and
                    webpage usage.
                    You may opt out of this tracking at any time by activating the “Do Not Track” setting in your
                    browser.
                </p>
                <h3>Legal information</h3>
                <p lang="en">
                    Tim Konieczny<br />
                    <%= htmlWebpackPlugin.options.street %><br />
                    <%= htmlWebpackPlugin.options.city %><br />
                    <%= htmlWebpackPlugin.options.country %><br />
                    Phone: <%= htmlWebpackPlugin.options.phone %><br />
                    Email: <%= htmlWebpackPlugin.options.email %>
                </p>
            </div>
        </div>
    </div>
</body>

</html>